.trip-entry {
    background-color: #f0f0f0;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 12px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.trip-location {
    font-size: 24px; /* Larger font size for location */
}
.trip-time {
    color: #F06829; /* Orange for the time */
    font-size: 20px;
}

.trip-rating {
    color: #FFBB00; /* Yellow for the stars */
    font-size: 20px;
}

.tags {
    display: flex;
    gap: 5px;
    margin-top: 5px;
    justify-content: flex-start;
    flex-wrap: wrap; 
} 

.tag {
    background-color: #add8e6; 
    border: none;
    padding: 5px 10px;
    margin-right: 5px;
    color: black;
    font-size: 14px;
    border-radius: 15px;
}

.date-edit-container {
    display: flex;
    align-items: center;  
    justify-content: center;  
    gap: 5px;  
}
  
  .edit-icon {
    cursor: pointer; 
    color: #828282; 
  }