.title-button-container {
  display: flex;
  justify-content: space-between; 
  align-items: center;  
  padding: 10px 20px;  
}

.bookmark-title {
  padding-left: 30px; 
  margin-top: 20px; 
}

.bookmark-page-text {
  font-family: 'Merriweather', serif;
  font-size: 45px;
  color: #F06829;
  font-weight: bold;
}

.bookmark-city-section {
  margin: 30px 20px; 
}

.bookmark-city-title {
  font-family: 'Merriweather', serif;
  font-size: 30px;
  color: #333;
  margin-bottom: 20px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  gap: 0px; 
  justify-items: start; 
  width: auto;
}

.grid-item {
  width: 250px; 
  transition: transform 0.2s ease-in-out; 
}

.grid-item.hover {
  transform: scale(1.05); 
}

.location-card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

.add-custom-location {
  background-color: #f8f9fa; 
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px auto; 
  max-width: 400px; 
}

.add-custom-location input[type="text"],
.add-custom-location input[type="number"],
.add-custom-location select {
  width: 100%; 
  padding: 8px;
  margin-top: 6px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  display: block; 
}

.add-custom-location input[type="text"]:focus,
.add-custom-location input[type="number"]:focus,
.add-custom-location select:focus {
  border-color: #6658d3; 
  outline: none;
}

.add-location-button {
  background-color: #336D74; 
  color: white;
  padding: 10px 20px; 
  font-size: 16px; 
  border: none;
  border-radius: 25px; 
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease; 
  outline: none; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

.add-location-button:hover {
  background-color: #3b7177; 
  transform: scale(1.05); 
}


