body {
  background-color: white; /* Set the background color to white */
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.underline-bar {
  display: flex;
  align-items: center;
  margin-top: 5px; /* Adjust the spacing between the texts and the underline bar */
  padding-left: 585px; /* Align the underline bar with the specified position */
}

.underline-bar-left {
  width: 160px;
  height: 3px;
  background-color: #336D74;
}

.underline-bar-right {
  width: 489px;
  height: 3px;
  background-color: #828282;
}

